body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
}


header {
  position: relative;    /* para que o nav absoluto seja relativo ao header */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #39b339;
  color: rgb(228, 228, 228);
  padding: 15px 30px;
  gap:5px;
}

.logo {
  flex:1;
  font-size: 1.5em;
  font-weight: bold;
}

nav{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav ul {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #d1ffe3;
}

.button {
  background-color: white;
  color: #39b339;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  
}

.button:hover {
  background-color: #d1ffdd;
  color: #288028;
}


.map-button {
  display: inline-block;
  background-color: #39b339;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
} 

.map-wrapper {
  text-align: center;
  margin: 20px 0;
}

.sobre{
  padding: 20px;
  margin: 10px;
  line-height: 30px;
  text-align: center




}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-button:hover {
  background-color: #257a25;
  transform: translateY(-2px);
}

main {
  flex: 1;
}

footer {
  background-color: #0c2704;
  color: white;
  padding: 40px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1 1 200px;
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: white;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #555;
  margin-top: 20px;
  font-size: 0.9em;
  color: #b8b8b8;
}